    <!-- Javascript -->
    <!--
        As wkhtmltopdf was unable to retrieve the JS hosted in the website,
        a local copy of the file is used as a workaround.

        FIXME: Find the original issue and fix it.
    -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/plugins/font-awesome/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}
