<!-- Use icons from fontawesome when you are adding new item in the contact list  -->
<div class="sidebar-wrapper">

   <div class="profile-container">

       <!--
          Empty titles shouldn't possibly cause an issue.
          So no need to check if an image title is specified.
        -->
       <img class="profile-img" src="{{site.baseurl}}/assets/images/{{ site.pic }}" alt="profile picture" title="{{site.pic-info}}"/>

       {% if site.name %}
       <h1 class="name">{{site.name}}</h1>
       {% endif %}

       {% if site.tagline %}
       <h3 class="tagline">{{site.tagline}}</h3>
       {% endif %}

   </div><!--//profile-container-->

   <div class="contact-container container-block">
       <ul class="list-unstyled contact-list">

          {% if site.email %}
           <li class="email">
               <i class="fas fa-envelope"></i>
               <a href="mailto: {{site.email}}">{{site.email}}</a>
           </li>
           {% endif %}

           {% if site.phone %}
           <li class="phone">
               <i class="fas fa-phone"></i>
               <a href="tel:{{site.phone}}">{{site.phone}}</a>
           </li>
           {% endif %}

           {% if site.location %}
           <li class="phone">
               <i class="fas fa-map-marker-alt"></i>
               {{site.location}}
           </li>
           {% endif %}

           {% if site.website %}
           <li class="website">
               <i class="fas fa-globe"></i>
               <a href="http://{{site.website}}" target="_blank">{{site.website}}</a>
           </li>
           {% endif %}

           <!-- TODO: Introduce new 'Profiles' section -->

           {% if site.linkedin %}
           <li class="linkedin">
               <i class="fab fa-linkedin"></i>
               <a href="https://linkedin.com/in/{{site.linkedin}}" target="_blank">{{site.linkedin}}</a>
           </li>
           {% endif %}

           {% if site.github %}
           <li class="github">
               <i class="fab fa-github"></i>
               <a href="https://github.com/{{site.github}}" target="_blank">{{site.github}}</a>
           </li>
           {% endif %}

           {% if site.gitlab %}
           <li class="gitlab">
               <i class="fab fa-gitlab"></i>
               <a href="https://gitlab.com/{{site.gitlab}}" target="_blank">{{site.gitlab}}</a>
           </li>
           {% endif %}

           {% if site.medium %}
           <li class="medium">
               <i class="fab fa-medium"></i>
               <a href="https://medium.com/{{site.medium}}" target="_blank">{{site.medium}}</a>
           </li>
           {% endif %}

           {% if site.wikipedia-en %}
           <li class="wikipedia-en">
               <i class="fab fa-wikipedia-w"></i>
               <a href="https://en.wikipedia.org/wiki/User:{{site.wikipedia-en}}" target="_blank">User:{{site.wikipedia-en}}</a>
           </li>
           {% endif %}

           {% if site.twitter %}
           <li class="twitter">
               <i class="fab fa-twitter"></i>
               <a href="https://twitter.com/{{site.twitter}}" target="_blank">{{site.twitter}}</a>
           </li>
           {% endif %}

       </ul>
   </div><!--//contact-container-->

  {% if site.education_in_main == null or site.education_in_main == false %}
    {% include education.html %}
  {% endif %}


  {% if site.certification_in_main == null or site.certification_in_main == false %}
    {% include certification.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}
  {% if site.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
